.btn {
	display: inline-block;
	line-height: 1;
	font-weight: 700;
	width: 100%;
	border: none;
	padding: 17px;
	margin-left: 170px;
	transition: all .09s ease-out;
}

.btn-accent {
	background-color: #D4C17F;
	color: black;
}

.btn-accent:hover {
	background-color: #907c38;
	color: black;
}